---
import Home from "@/icons/Home.astro";
import Library from "@/icons/Library.astro";
import Search from "@/icons/Search.astro";
import SideMenuItem from "@/components/SideMenuItem.astro";
import SideMenuCard from "@/components/SideMenuCard.astro";
import { playlists } from "@/lib/data";
---

<nav class="w-full flex flex-col flex-1 gap-2">
  <div class="bg-neutral-900 rounded-lg p-2">
    <ul class="w-full flex justify-center lg:flex-col">
      <SideMenuItem href="/">
        <Home />
        Home
      </SideMenuItem>
      <SideMenuItem href="/">
        <Search />
        Search
      </SideMenuItem>
    </ul>
  </div>
  <div class="bg-neutral-900 rounded-lg p-2 flex-1">
    <ul>
      <SideMenuItem href="/">
        <Library />
        Your library
      </SideMenuItem>
      <div class="flex lg:flex-col overflow-x-auto gap-2">
        {playlists.map((playlist) => <SideMenuCard playlist={playlist} />)}
      </div>
    </ul>
  </div>
</nav>
