---
import { type Song } from '@/lib/data'
interface Props {
    song: Song
}
const { song } = Astro.props
---
<div class="p-2 flex gap-3 hover:bg-neutral-700 rounded">
    <picture class="w-12 h-auto aspect-square">
        <img class="w-full h-full object-cover rounded" src={song.image} alt="" />
    </picture>
    <div class="flex flex-col justify-between">
        <h3>{song.title}</h3>
        <h4 class="text-sm text-neutral-500">{song.artists}</h4>
    </div>
</div>